:root{
    --blue: #2196F3;
    --gray: #757575;
}

@font-face {
    @font-face {
        font-family: 'Roboto';
        src: url('Roboto-ThinItalic-webfont.eot');
    }
}
.logo{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    text-align: right;
    letter-spacing: 0.03em;
    
    color: var(--blue);
}

header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

ul{
    list-style: none;
    display: inline;
}

.menu, .contacts{
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: absolute;
    height: 16px;
    top: 32px;

    color: #212121;
}

.menu:hover{
    color: var(--blue);
}
.menu:focus{
    color: var(--blue);
}
.contacts:hover{
    color: var(--blue);
}
.contacts:focus{
    color: var(--blue);
}

#enlaceIndex{
    width: 49px;
    left: 453px;  
}

#enlacePort{
    width: 65px;
    left: 552px;  
}

#enlaceCont{
    width: 67px;
    left: 667px;
}

#enlaceMail{
    width: 135px;
    left: 1078px;
    color: var(--gray);
}

#enlaceTel{
    width: 118px;
    left: 1263px;
    color: var(--gray);
}

#mainTitle{
    position: absolute;
    width: 750px;
    height: 120px;
    left: 452px;
    top: 200px;
    bottom: 280px;
    right: 452px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.container{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;

    background: #2F303A;
}

button{
    display: flex;
    flex-direction: row;
   
    padding: 7.5px 32px;
    gap: 10px;

    position: absolute;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

#boton{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}
